.option__container {
  position: relative;
  height: 100%;
  width: 100vw;
  bottom: 0;
  padding-top: .4rem;
  padding-bottom: 38%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  text-align: center;
  color: beige;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem
}

button {
  border: none;
  background: none;
}

.input-doble__container {
  display: flex;
  gap: 1rem;
  width: 95%;
}

.input-doble__container-grid {
  overflow: hidden;

  width: 100%;
  padding: 0 1rem;
  display: grid;
  grid-template: 20px 40px / 1fr 80px;
  grid-gap: 0 1rem;
}

input {
  background: var(--medium-blue-2);
  width: 90%;
  height: 2.5rem;
  border: 2px solid #00000055;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  color: aliceblue;
  padding-right: 1rem;
  text-align: end;
}
input::placeholder {
  color: var(--dark-grey-2);
}

textarea {
  background: var(--medium-blue-2);
  width: 90%;
  border: 2px solid #00000055;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 500;
  color: aliceblue;
  padding: .5rem;
  text-align: end;
}

.button__accept {
  width: 131px;
  height: 50px;
  margin-right: 2rem;
  align-self: flex-end;
  color: #000000;
  border: none;
  border-radius: 10px;
  background: var(--light-green);
  box-shadow: 2px 3px 6px #00000073;
}

select {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;

  background: var(--medium-blue-2);
  height: 2.5rem;
  border: 2px solid #00000055;
  border-radius: 5px;
  color: beige;
  padding-left: 1rem;
  text-align: center;
  font-size: 1.1rem;

  transition: all 1s;
}

.is__credit {
  grid-column-end: 2;
}

.container__checkbox__pay {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  position: relative;
  right: -100px;

  transition: all .2s;
}

.checkbox__pay {
  right: 0;
}

.input-doble__container-grid-2 {
  width: 100%;
  padding: 0 1rem;

  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.not-select-account-debit {
  position: relative;
  right: -500px;

  transition: all .5s;
}

.select__account__debit {
  right: 0;

  select {
    width: 100%;
  }
}


.input__container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .2rem;
}


.label__input {
  align-self: flex-start;
  margin-left: 1.5rem;
  color: aliceblue;
}

.label__grid {
  color: aliceblue;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  text-wrap: nowrap;
}

.checkbox__grid {
  grid-row-start: 2;
  grid-column-start: 2;

  transform: scale(.4);
}

.show {
  display: inline;
}



/* SWITCH GASTO-INGRESO */
.container__checkbox {
  position: relative;
  left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90px;
  width: 150px;
  border-radius: 25px;
  margin: -1.5rem auto;
}
label {
  font-size: small;
  position: relative;
  margin: 0;
  cursor: pointer;
  margin-right: 1.2rem;
}
label input {
  appearance: none;
  display: none;
}
label span {
  position: relative;
  margin-left: 1rem;
  display: block;
  width: 295px;
  height: 50px;
  border: 2px solid #00000055;
  background: var(--medium-blue-2);
  border-radius: 40px;
  box-shadow: inset 0 3px 3px rgba(#000000, .5);
}
label .indicator-checkbox-uno {
  position: absolute;
  top: 0;
  left: 10px;
  width: 160px;
  height: 50px;
  background: var(--light-green);
  border-radius: 45px;
  box-shadow: 0 3px 6px rgba(#00000042, 0.9),
              inset 0 3px 6px rgba(#ffffff73, .5);
  transform: scale(0.9);
  transition: 0.5s;
}
label input:checked ~ .indicator-checkbox-uno{
  left: 157px;
}
label .indicator-checkbox-uno::before {
  content: 'GASTO';
  position: absolute;
  color: rgba(0, 0, 0, .8);
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  top: 62%;
  left: 47%;
  width: 60px;
  height: 40px;
  transform: translate(-50%, -50%);

  transition: 0.2s;
}
label input:checked ~ .indicator-checkbox-uno::before {
  content: 'INGRESO';
  position: absolute;
  color: rgba(0, 0, 0, .8);
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  top: 62%;
  left: 42%;
  width: 60px;
  height: 40px;
  transform: translate(-50%, -50%);

  transition: 0.2s;
}
.label__p-expense {
  position: absolute;
  top: 13px;
  left: 60px;
  color: var(--dark-grey-2);
}
.label__p-income {
  position: absolute;
  top: 13px;
  left: 200px;
  color: var(--dark-grey-2);
}


.character__movement {
  position: relative;

  // animation: name duration timing-function delay
  left: -300px;
  display: none;
  transition: left .1s;
}

@keyframes checkbox-out {
  0% { left: 0px; }
  // 30% { left: -100px; }
  100% { left: -300px; display: none;}
  // 100% { display: none; }
}
