nav {
  position: fixed;
  bottom: 0;
  z-index: 20;
  width: 100vw;
  height: 60px;
  background-color: var(--double-dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  width: 350px;
}

nav ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
  display: flex;
}

nav ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
  opacity: .5;
}

nav ul li a.icon__active {
  opacity: 1;
}
nav ul li a.icon__active-add {
  opacity: 1;
}


nav ul li.active {
  transform: translateY(-25px);
}

.indicator-nav {
  position: absolute;
  top: -50%;
  width: 70px;
  height: 70px;
  background: var(--light-green);
  border-radius: 50%;
  transition: 0.5s;
  border: 2px solid #222;
}


nav ul li:nth-child(1).active ~ .indicator-nav {
  transform: translateX(calc(70px * 0));
}
nav ul li:nth-child(2).active ~ .indicator-nav {
  transform: translateX(calc(70px * 1));
}
nav ul li:nth-child(3).active ~ .indicator-nav {
  transform: translateX(calc(70px * 2));
}
nav ul li:nth-child(4).active ~ .indicator-nav {
  transform: translateX(calc(70px * 3));
}
nav ul li:nth-child(5).active ~ .indicator-nav {
  transform: translateX(calc(70px * 4));
}
