section {
  position: absolute;
  top: 1px;
  z-index: 1000;

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.modal__container {
  height: 75%;
  width: 75%;
  overflow: scroll;

  background-color: #191e29da;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  box-shadow: 0 0 60px 15px rgb(4, 8, 16);

  display: grid;
  grid-template-rows: 130px repeat(85px);
}

.header__container {
  height: 100%;
  width: 100%;

  padding: .8rem;

  color: var(--light-grey);
  display: grid;
  grid-template: 40px 1fr / 1fr 40px;
  gap: .2rem;

  .svg {
    grid-column-start: 2;

    transform: scale(.8);
  }

  p {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
}

.rows__container {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 90px;
}

.index__container {
  height: 100%;
  width: 100%;

  grid-column-start: 1;
  grid-column-end: 2;

  color: var(--light-grey);
  // background-color: rgb(23, 77, 77);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card__container {
  height: 100%;
  width: 100%;

  grid-column-start: 2;
  grid-column-end: 3;

  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    height: 70px;
    width: 180px;

    color: aliceblue;
    text-shadow: 2px 2px 3px black;
    box-shadow: inset -2px -2px 0px rgb(28, 31, 30),
      inset -3px -2px 2px rgba(54, 158, 154, 0.548);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 13px;
    background: linear-gradient(-220deg, rgb(38 103 216 / 15%), rgb(40 117 114 / 44%));


    display: grid;
    grid-template: 20px 50px / 150px 30px;
  }

  .account__name {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;

    text-align: center;
    font-size: 1.1rem;
  }

  icon-handle-drag {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;

    transform: scale(.8);
  }
}

