
.movements__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6rem;

  .movements {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem .8rem;

    border-bottom: 1px rgba(118, 118, 118, 0.162) solid;
  }

  .expense {
    color: rgb(164, 164, 164);
  }

  .income {
    color: var(--light-green);
  }

  .label__date {
    background: linear-gradient(-220deg, #2f908d1b, #33fbf117);
    width: 95%;
    border-radius: 5px;
    color: aliceblue;
    padding: 2px 10px;
    font-weight: 300;
    text-align: center;
  }

  .text-end {
    text-align: end;
  }

  .empty {
    margin-top: 2rem;
    text-align: center;
    font-size: large;
    color: bisque;
  }

}
