<div class="movements__container">
  @for(movement of walletStore.movementDayFilter(); track $index; let first = $first) {
    @if(first || formattedDate( movement.day ) !== formattedDate( walletStore.movementDayFilter()[$index -1].day )) {
      <h3 class="label__date">{{ movement.day | myDate }}</h3>
    }
    <div class="movements">
      <div class="label">
        <p>{{ movement.description | titlecase | showAmountCharacters:18 }}</p>
      </div>
      @if(movement.character === 'income') {
        <p class="income">+ {{ movement.amount | currency | myCurrency }}</p>
      } @else {
        <p class="expense">- {{ movement.amount | currency | myCurrency }}</p>
      }
    </div>
  }
  @empty {
    <h3 class="label__date">{{ walletStore.day() | myDate }}</h3>
    <h1 class="empty">No tenes movimientos registrados en este dia.</h1>
  }
  @if(walletStore.movementDayFilter().length > 0) {
    <h3 class="label__date text-end">Total {{ totalPriceOfMovements() | currency | myCurrency }}</h3>
  }
</div>
