
.account__container {
  width: 100%;
  min-height: 70px;
  padding: 0 1rem;

  display: grid;
  grid-template: 1fr 1fr / auto 1fr 10%;

  h2 {
    display: inline;
    color: var(--light-green);
    font-size: 1.5rem;
  }

  span {
    position: relative;
    color: var(--light-grey);
    font-size: .8rem;

    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;

    text-align: end;
  }

}

.calendar__container {
  height: 75%;
  width: 100%;

  display: flex;
  flex-direction: column;
}


@media (max-height: 670px) {
  .calendar__container {
    height: 72%;
  }
}


.table {
  margin: 0 auto 20px;
  width: 83%;
  border-collapse: collapse;

  .line {
    // border-bottom: 2px solid var(--light-green) !important;
    height: 2.8rem;
  }

  th {
    color: var(--light-grey);
  }

  td {
    text-align: center;
    height: 2.8rem;
  }

  .in-month {
    color: var(--light-grey);
  }

}

.header__calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;

  p {
    color: var(--light-green);
  }

  button {
    background: var(--dark-blue);
    border-radius: 50%;
    border: none;
    padding: 5px;
    margin: 0 1rem;
    opacity: .7;
  }
}

.in-selected {
  background-color: #009e6c;
  color: #fff;
}

.in-start-day {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  color: #fff;
}

.background__corner {
  background-color: #009e6c;
}

.in-end-day {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: #009e6c;
  color: #fff;
}

.today {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: #40f4bb;
  color: #000000 !important;
  border-radius: 5px;
  height: 100%;
}

.previous_days {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2e6452;
  height: 100%;
}

.future_days {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009e6c;
  height: 100%;
}

.position__relative {
  position: relative;
}

.today__background {
  position: absolute;
  background-color: #2e6452;
  height: 100%;
  width: 50%;
}

.select {
  background-color: #009e6c;
}

.selected-highlight {
  background-color: #30919e;
}

